select {
    padding: 10px 10px;
    border-radius: 5px;
    color: rgb(187 189 192 / var(--tw-text-opacity));
    background-color: rgb(36 38 40 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    --tw-border-opacity: 1;
    border-color: rgb(23 23 23 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
}

button.disabled {
    pointer-events: none;
    opacity: .5;
}

.toggle-fieldtype-wrapper {
    margin-right: 10px;
}