select {
    padding: 10px 10px;
    border-radius: 5px;
    color: rgb(187 189 192 / var(--tw-text-opacity));
    background-color: rgb(36 38 40 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    --tw-border-opacity: 1;
    border-color: rgb(23 23 23 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
}

button.disabled {
    pointer-events: none;
    opacity: .5;
}

.toggle-fieldtype-wrapper {
    margin-right: 10px;
}

div.grade {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 25px;
}

div.grade p {
    margin: 0;
}

span.powered_by {
    font-size: 12px;
}

span.grade {
    margin-left: 10px;
}

.grade_a_plus,
.grade_a,
.grade_a_minus {
  /* Tailwind green-600 */
  background-color: #16a34a;
}

.grade_b_plus,
.grade_b,
.grade_b_minus {
  /* Tailwind lime-600 */
  background-color: #65a30d;
}

.grade_c_plus,
.grade_c,
.grade_c_minus {
  /* Tailwind amber-600 */
  background-color: #d97706;
}

.grade_d_plus,
.grade_d,
.grade_d_minus {
  /* Tailwind orange-600 */
  background-color: #ea580c;
}

.grade_f {
  /* Tailwind red-700 */
  background-color: #b91c1c;
}


[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  
  position: absolute;
  bottom: 100%; 
  left: 50%;     
  transform: translateX(-50%); 
  margin-bottom: 10px; 

  background-color: #333;
  color: #fff;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 99;
}

[data-tooltip]::after {
  content: '';
  position: absolute;
  
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5px; /* This is the (box margin) - (arrow height) */

  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent; /* Points down */

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}

[data-tooltip]:hover::before,
[data-tooltip]:focus::before,
[data-tooltip]:hover::after,
[data-tooltip]:focus::after {
  visibility: visible;
  opacity: 1;
}